@font-face{
    font-family: Oxanium;
    font-weight: 900;
    font-style: normal;
    src: local("Oxanium"),
        url("../fonts/Oxanium.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Work Sans";
    font-weight: 900;
    font-style: normal;
    src: local("Work-Sans"),
        url("../fonts/Work-Sans.woff2") format("woff2");
    font-display: swap;
}